html,
body {
   height:100%;
}

body{
   margin:0;
   padding:0;
}

#header-div{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(37,37,37 , 0.5 ), rgba(37,37,37 , 0.5 )), url('../images/harp_player.jpg'); no-repeat center;
    background-size: cover;
    position: relative;
}

#content-div{
background: pink;
}

#content .logo{
text-align: center;
}