html,
body {
   height:100%;
}

body{
   margin:0;
   padding:0;
}

#header-div{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(37,37,37 , 0.5 ), rgba(37,37,37 , 0.5 )), url('../images/harp_player.jpg'); no-repeat center;
    background-size: cover;
    position: relative;
}

#content-div{
background: pink;
}

#content .logo{
text-align: center;
}

p, h1 {
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #222222;
}

.about-content{
display: inline-flex;
padding: 60px;
}

.about-content .text{
padding-left: 30px;
}

.about-content img{
height: 600px;
filter: grayscale(50%);
}

#header{
position: fixed;
top: 0;
width: 100%;
}

#about-div{
padding-top: 80px;
height: 1000px;
}

#portfolio-div{
padding-top: 80px;
height:1000px;
background-color: rgba(37, 37, 37, 0.5);
}

#contact-div{
height: 966px;
padding-top: 80px;
}