<div class="about-content">
    <img src="../static/images/annette.jpg">
    <div class="text">
        <h1>Om meg</h1>
        <p>Eg heiter Annette Sollie Hagen og kjem frå Valle på Skodje. Eg var interessert i harper då eg såg Flåklypa
            for
            første gong og såg ei harpe der. Eg kjøpte mi første harpe då eg var 14 år. Sidan det har eg kjøpt fleire og
            større harper, og no eig eg ei svær gullharpe som er kjempefin.
        </p>
        <p>
            Bacon ipsum dolor amet boudin salami short ribs ribeye fatback kevin spare ribs turducken strip steak
            sirloin
            filet mignon chicken venison ham hock swine. Brisket shankle biltong pastrami short loin pork jerky
            turducken
            ball tip. Turducken drumstick sausage chuck sirloin strip steak tri-tip pork belly pig tail leberkas
            landjaeger
            prosciutto ham turkey. Tri-tip shankle capicola cupim, ribeye alcatra leberkas t-bone.
        </p>
        <p>
            Porchetta cupim biltong meatloaf sirloin, pancetta chuck leberkas ball tip. Tongue ham brisket capicola
            swine.
            Picanha short ribs leberkas jerky swine tenderloin boudin meatloaf brisket shank ball tip shoulder
            frankfurter
            tongue ham. Short ribs frankfurter jerky, cupim landjaeger ground round pork loin bresaola ball tip cow
            burgdoggen shank drumstick spare ribs. Ball tip pork loin prosciutto, short ribs frankfurter beef hamburger
            burgdoggen.
        </p>
        <p>
            Cow ham sausage, pork loin doner cupim tenderloin meatloaf flank. Cow strip steak salami chicken, kielbasa
            andouille landjaeger tenderloin ground round bresaola short ribs t-bone meatloaf. Ground round andouille
            corned
            beef filet mignon, porchetta shoulder beef ribs pork salami chuck cow pig sirloin fatback boudin. Drumstick
            cow
            tail shoulder fatback, swine pork chop meatloaf shank corned beef porchetta. Pork loin salami meatball
            bresaola
            leberkas. Beef ribs shank tail strip steak ball tip hamburger picanha venison flank drumstick boudin.
        </p>
    </div>
</div>