<h1>Pørtefølje</h1>
<div class="text">
    <p>
        Her er mitt portefølje.
        Eg veit ikkje heilt ka som skal stå her, men tenkjer det kan vere litt bileter og tekst også må det stå at du
        har vore med å spelt med kvartetten.
    </p>
</div>
<div id="port-content">
    <div class="first">
        <img src="../static/images/kvartetten.png">
        <p>Her er eg og speler med kvartetten. Doner shankle tenderloin, prosciutto turkey landjaeger pork belly ground
            round pig. Burgdoggen bresaola kielbasa picanha andouille. Beef pork loin beef ribs, jerky tail flank
            burgdoggen tenderloin shank. Strip steak t-bone cow kielbasa short ribs sirloin shank.</p>
    </div>
    <div class="second">
        <p>Spicy jalapeno salami short loin doner, drumstick andouille buffalo swine jerky picanha pork chop. Fatback
            bresaola turkey beef corned beef, sirloin pig leberkas ribeye pork loin pastrami filet mignon. Shankle
            buffalo prosciutto shoulder pork chop frankfurter boudin rump swine burgdoggen pork pastrami porchetta.
            Bacon leberkas frankfurter tail sausage..</p>
         <img src="../static/images/annette-kvartette.png">
    </div>
</div>

